<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel='stylesheet' href='/css/index.css'>
    <title>Room</title>
</head>
<body>
    <p id='user_items' style='display: none'><%= data %></p>
    <canvas class='webgl'></canvas>
    <script src='three'></script>
    <script src='three/OrbitControls'></script>
    <script src='three/GLTFLoader'></script>
    <script src='three/RectAreaLightHelper'></script>
    <script type='module' src='/scripts/room.js'></script>
</body>
</html>